* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  padding: 0.7rem;
  font-size: 0.8rem;
  text-transform: uppercase;
  color: black;
}

main {
  height: 500px;
}
