/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Generics */
body {
  font-family: "Open Sans", sans-serif;
  letter-spacing: -1px;
}

/* Header */
header {
  a {
    text-decoration: none;
    padding: 0.7rem;
    font-size: 0.8rem;
    font-weight: 600;
    text-transform: uppercase;
    color: rgb(50, 50, 50);

    &.active {
      color: rgb(0, 115, 255);
      border-bottom: 0.4rem solid rgb(0, 115, 255);
      padding-bottom: 51px;
    }
  }

  .jumbotron {
    background-image: url(/img/jumbotron.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 400px;
  }
}

/* Main */
main {
  position: relative;

  .current-series {
    position: absolute;
    top: -30px;
    left: 300px;
    text-transform: uppercase;
    max-width: 15%;
    padding: 0.5rem 2rem;
    background-color: dodgerblue;
    font-weight: 700;
    font-size: 1.5rem;
  }

  #shop {
    img {
      width: 35px;
      margin: 1.5rem 0;
    }

    span {
      text-transform: uppercase;
      margin: 0 3rem 0 1rem;
    }

    .big {
      width: 25px;
    }
  }

  .more-comics {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 2rem;
  }

  .comics-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    padding-top: 3rem;
  }

  .comic-card {
    width: 200px;
    height: 100%;
    display: flex;
    flex-direction: column;

    figure {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
      aspect-ratio: 1 / 1;
    }

    figcaption {
      text-transform: uppercase;
      margin-bottom: 3rem;
      letter-spacing: normal;
    }
  }
}

/* Footer */
footer {
  .bg-comics {
    background-image: url(../public/img/footer-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* padding-top: 3rem; */
  }

  .bg-dc {
    background-image: url(../public/img/dc-logo-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .links {
    margin: 3rem 0;
  }

  ul {
    margin: 0;
    padding: 0;

    li {
      list-style: none;

      a {
        text-decoration: none;
        color: gray;
      }
    }
  }

  h3 {
    text-transform: uppercase;
    font-weight: 700;
  }

  .footer-bottom {
    background-color: rgb(55, 55, 55);
    padding: 2rem 0;

    button {
      padding: 1rem;
      text-transform: uppercase;
      background-color: rgb(55, 55, 55);
      border-color: rgb(0, 115, 255);
      color: white;
      cursor: pointer;
    }

    span {
      text-transform: uppercase;
      color: rgb(0, 115, 255);
      font-weight: 700;
    }

    img {
      width: 35px;
      height: 35px;
      margin: 0 1rem;
    }
  }
}
