/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Generics */
body {
  font-family: "Open Sans", sans-serif;
}

/* Header */
header {
  a {
    text-decoration: none;
    padding: 0.7rem;
    font-size: 0.8rem;
    text-transform: uppercase;
    color: black;

    &.active {
      color: rgb(0, 115, 255);
      border-bottom: 0.4rem solid rgb(0, 115, 255);
      padding-bottom: 51px;
    }
  }
}

/* Main */
main {
  p {
    height: 100px;
    margin-bottom: 0;
  }

  #shop {
    img {
      width: 50px;
      margin: 1.5rem 0;
    }

    span {
      text-transform: uppercase;
      margin: 0 3rem 0 1rem;
    }
  }
}

/* Footer */
footer {
  background-image: url(../public/img/footer-bg.jpg);
  /* url(../public/img/dc-logo-bg.png); */
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 3rem;

  ul {
    margin: 0;
    padding: 0;

    li {
      list-style: none;

      a {
        text-decoration: none;
        color: gray;
      }
    }
  }

  h3 {
    text-transform: uppercase;
    font-weight: 700;
  }

  .footer-bottom {
    background-color: rgb(55, 55, 55);
    padding: 3rem 0;
    margin-top: 3rem;

    button {
      padding: 1rem;
      text-transform: uppercase;
      background-color: rgb(55, 55, 55);
      border-color: rgb(0, 115, 255);
      color: white;
      cursor: pointer;
    }

    span {
      text-transform: uppercase;
      color: rgb(0, 115, 255);
      font-weight: 700;
    }

    img {
      width: 35px;
      height: 35px;
      margin: 0 1rem;
    }
  }
}
